{% extends "ventas/base.html" %}
{% load static %}

{% block content %}
<article class="artProductos">
    <div>
        <p>¿Ya tienes una cuenta? <a href="{% url 'registrarme' %}">Ingresa Aqui</a></p>
    </div>
    <div id="contRegistro">
        <form method="POST">
            {% csrf_token %}
            {{form.username.label}}
            {{form.username}}
            {% if form.errors.username %}
            <div class="error">{{form.errors.username}}</div>
            {% endif %}
            {{form.email.label}}
            {{form.email}}
            {% if form.errors.email %}
            <div class="error">{{form.errors.email}}</div>
            {% endif %}
            {{form.password1.label}}
            {{form.password1}}
            {{form.password2.label}}
            {{form.password2}}
            {% if form.errors.password %}
            <div class="error">{{form.errors.password}}</div>
            {% endif %}
            <input class="btnRegistrarme" type="submit" value="REGISTRARME" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</article>

{% endblock %}